.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(246, 252, 246);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 18px;
    color: rgb(187, 186, 186);
    text-align: center;
}

.sidebarList{
    /* border: solid black; */
    list-style: none;
    padding: 20px;
}

.sidebarListItem{
    /* border: solid yellow; */
    
    padding: 16px;
    cursor: pointer;
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgba(146, 249, 146, 0.351);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
    color: green;
    padding-right: 10px;
}
