.user{
    flex:4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    padding-left: 150px;

}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;

}
.userContainer{
    display: flex;
    margin-top: 20px;
    min-width: 800px;
}

.userShow{
    width: 900px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #8d8c8c; 
    box-shadow: 0px 0px 11px -1px #8d8c8c;
    
}

.userUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #8d8c8c; 
    box-shadow: 0px 0px 11px -1px #8d8c8c;
    padding: 20px;
    margin-left: 20px;

}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUserName{
    font-weight: 600;
}


.userShowUserTitle{
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.tableTitle{
    font-weight: bold;
}
.eyob{
    border: solid black;
}
.userShowTitle{
    font-size: 14px;
    width: 600;
    color: rgb(0, 0, 0);
    padding-left: 150px;
    font-weight: bolder;
   
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;

}

.userShowIcon{
    font-size: 16px !important;


}

.userShowInfoTitle{
    margin-left: 10px;

}

.orderCartTable{
    padding: 5px 40px;
}

.orderItem{
    padding: 5px 40px;
}

.orderPrice{
    padding: 5px 40px;
}

.orderTotalPrice{
    font-weight: bolder;
    color: green;
    padding: 5px 40px;
    font-size: x-large;
}